*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

section{
    margin-top: 16px;
    border: 2px solid black;
}

.seccion2{
    background-image: url(fondo1.png);
    background-attachment: fixed;
    background-size: cover;
}

.seccion3{
    background-image: url(fondo1.png);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boton{
    margin: 24px 0px;
    text-align: center;
}
.boton a{
    background-color: rgba(0, 0, 255, 0.77);
    color:white;
    border: 3px black solid;
    padding: 6px 24px;
}

h1{
    margin: 24px;
}

h2{
    text-align: center;
    color: white;
    margin: 24px;
    font-size: 34px;
}

header{
    background-image: url("fondo1.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: right;

    min-height: 97vh;
    font-size: 29px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
}

a{
    color: white;
    background-color: rgba(0, 0, 0, 0.474);
    border: 2px white solid;
    border-radius: 16px;
    padding: 6px 16px;
    margin: 24px;
    text-decoration: none;
}

header div{
    margin: 24px;
    width: 60%;
    min-width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header p {
    padding: 30px;
}

.seccion1 img{
    width: 300px;
    
}

.seccion1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.texto1{
    width: 50%;
    min-width: 350px;
    max-width: 600px;
    font-size: 24px;
    margin: 24px;
    padding: 24px;
    background-color: white;
}

.seccion2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 24px;

}

.cuadrotestimonios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 24px;
    padding: 24px;
}

.testimonio img{
    width: 150px;
    border-radius: 100%;
}


.testimonio{
    width: 25%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin: 24px;
    background-color: white;
    border-radius: 16px;
}

.equipo{
    width: 35%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin: 24px;
    background-color: white;
    border-radius: 16px;
}

.equipo span{
    margin-top: 6px;
}

.equipo img{
    width: 80%;
    min-width: 100px;
    border-radius: 16px;
}

.texto2{
    font-size: 29px;
    margin: 24px;
    padding: 24px;
    max-width: 1200px;
    color: white;
}

.convierte{
    background-color: rgba(255, 255, 255, 0.684);
    border: 4px rgb(54, 52, 52) solid;
    text-align: center;
    padding: 16px;
    position: sticky;
    top: 0px;
    width: 100%;
}

.ultimollamado{
    font-size: 34px;
    padding: 24px;
    text-align: center;
}

.ultimollamado p{
    max-width: 1200px;
}

.botonwhatsapp{
    position: fixed;
    bottom: 36px;
    right: 36px;
    text-align: center;
    color: green;
    font-size: 21px;
}

.botonwhatsapp img{
    width: 50px;
    border-radius: 100%;
}

.botonwhatsapp a{
    border: none;
    width: 75px;
    background-color: rgba(255, 255, 255, 0);
}

.mapa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-size: 24px;
    width: 100%;
    background-image: url(IMG_8356-edit.jpg);
    background-size: cover;
}
.textomapa{
    width: 30%;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.684);
    border: 4px rgb(54, 52, 52) solid;
    min-width: 350px;
    margin: 6px;
}

@media (min-width:600px) {
    .botonwhatsapp{
        display: none;
        
    }

    .mapita{
        width: 50%;
        min-width: 400px;
        height: 400px;
    }
}

@media (max-width:500px){
    header{
        background-position: 650px;
        font-size:24px;
    }
    .cuadro{
        background-color: rgba(0, 0, 0, 0.728);
        width: 80%;
        margin: 0px;
    }

    .mapa{
        flex-direction: column-reverse;
    }

    .mapita{
        width: 90%;
        min-width: 300px;
        height: 250px;
    }

    .equipo{
        font-size: 16px;
        text-align: center;
    }
}
